/* Noto Sans KR */
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url('/iros/font/NotoSansKR-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  src: url('/iros/font/NotoSansKR-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url('/iros/font/NotoSansKR-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url('/iros/font/NotoSansKR-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 100;
  src: url('/iros/font/NotoSansKR-Thin.woff2') format('woff2');
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/iros/font/Roboto-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/iros/font/Roboto-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('/iros/font/Roboto-Light.woff2') format('woff2');
}

/* SpoqaHanSansNeo */
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 500;
  src: url('/iros/font/SpoqaHanSansNeo-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 400;
  src: url('/iros/font/SpoqaHanSansNeo-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 100;
  src: url('/iros/font/SpoqaHanSansNeo-Thin.woff2') format('woff2');
}