@media screen and (max-width: 767px) {
  .common_section {
    & .section_grid {
      & .section_grid_list {
        // 등기별 맞춤메뉴
        &.custom_menu_list {
          display: flex;
          flex-wrap: wrap;
          & .section_grid_item {
            width: calc(100% / 2);
            &:nth-of-type(n+3) {
              margin-top: 16px;
            }
            & .section_grid_link {
              display: flex;
              align-items: center;
              &:hover {
                & .section_grid_btn {
                  border: 1px solid transparent;
                  background-color: map-get($color-main, color-primary);
                }
                & .section_grid_text {
                  color: map-get($color-main, color-primary);
                }
              }
              & .section_grid_btn {
                width: 50px;
                height: 50px;
                margin-right: 20px;
                border: 1px solid map-get($color-line, grey-01);
                border-radius: 6px;
                background-color: map-get($color-main, color-white);
                transition: 0.3s all ease;
              }
              & .section_grid_text {
                @include font-family('Roboto');
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: map-get($color-type, grey-01);
                transition: 0.3s all ease;
                & .mobile_text_wrap {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .common_section {
    & .section_grid {
      & .section_grid_list {
        // 등기별 맞춤메뉴
        &.custom_menu_list {
          display: flex;
          flex-wrap: wrap;
          & .section_grid_item {
            width: calc(100% / 3);
            &:nth-of-type(n+4) {
              margin-top: 16px;
            }
            & .section_grid_link {
              display: flex;
              align-items: center;
              &:hover {
                & .section_grid_btn {
                  border: 1px solid transparent;
                  background-color: map-get($color-main, color-primary);
                }
                & .section_grid_text {
                  color: map-get($color-main, color-primary);
                }
              }
              & .section_grid_btn {
                width: 50px;
                height: 50px;
                margin-right: 20px;
                border: 1px solid map-get($color-line, grey-01);
                border-radius: 6px;
                background-color: map-get($color-main, color-white);
                transition: 0.3s all ease;
              }
              & .section_grid_text {
                @include font-family('Roboto');
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                color: map-get($color-type, grey-01);
                transition: 0.3s all ease;
                & .mobile_text_wrap {
                  display: none;
                }
              }
            }
          }
        }
        // 등기소 알림
        &.alarm_list {
          & .section_grid_item {
            & .section_grid_link {
              & .alarm_box {
                @include font-family('SpoqaHanSansNeo');
                padding: 20px;
                border: 1px solid map-get($color-line, grey-01);
                border-radius: 10px;
                word-break: normal;
                & .alarm_title {
                  border-bottom: 1px solid map-get($color-line, grey-01);
                  padding-bottom: 16px;
                  & .title {
                    @include ellipsis-multi(100%, 60px, 2);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                  }
                }
                & .alarm_post {
                  padding-top: 16px;
                  & .post {
                    @include ellipsis-multi(100%, 60px, 3);
                    margin-bottom: 16px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                  & .post_time {
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }        
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .common_section {
    & .section_grid {
      & .section_grid_list {
        // 등기별 맞춤메뉴
        &.custom_menu_list {
          display: flex;
          flex-wrap: wrap;
          & .section_grid_item {
            width: calc(100% / 3);
            &:nth-of-type(n+4) {
              margin-top: 32px;
            }
            & .section_grid_link {
              display: flex;
              align-items: center;
              &:hover {
                & .section_grid_btn {
                  border: 1px solid transparent;
                  background-color: map-get($color-main, color-primary);
                }
                & .section_grid_text {
                  color: map-get($color-main, color-primary);
                }
              }
              & .section_grid_btn {
                width: 60px;
                height: 60px;
                margin-right: 20px;
                border: 1px solid map-get($color-line, grey-01);
                border-radius: 6px;
                background-color: map-get($color-main, color-white);
                transition: 0.3s all ease;
              }
              & .section_grid_text {
                @include font-family('Roboto');
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                color: map-get($color-type, grey-01);
                transition: 0.3s all ease;
                & .mobile_text_wrap {
                  display: none;
                }
              }
            }
          }
        }
        // 등기소 알림
        &.alarm_list {
          display: flex;
          & .section_grid_item {
            width: calc((100% - 120px) / 4);
            &:not(:last-of-type) {
              margin-right: 40px;
            }
            & .section_grid_link {
              & .alarm_box {
                @include font-family('SpoqaHanSansNeo');
                padding: 20px;
                border: 1px solid map-get($color-line, grey-01);
                border-radius: 10px;
                word-break: normal;
                & .alarm_title {
                  border-bottom: 1px solid map-get($color-line, grey-01);
                  padding-bottom: 16px;
                  & .title {
                    @include ellipsis-multi(100%, 60px, 2);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                  }
                }
                & .alarm_post {
                  padding-top: 16px;
                  & .post {
                    @include ellipsis-multi(100%, 60px, 3);
                    margin-bottom: 16px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                  & .post_time {
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}