input {
  padding: 0;
  margin: 0;
  border: none;
}
input[type="text"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="search"] {
  appearance: textfield;
}
